@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --primary-color: #ff6525;
  --background-color: #fafafa;
  --text-color-primary: #363030;
  --accent-color: #d2d2d2;
  --overlay:rgba(0, 0, 0, 0.3);
  --constainer-border-color: #707070;
}

* {

  font-family: "Poppins", sans-serif;
}

body{
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
}